* {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}

body {
    background-color: #777;
}

#wrapper {
    margin: 30px auto;
    width: 400px;
    height: 400px;
    display: flex;
    flex-flow: wrap-reverse;
    background-color: #444;
    padding: 20px;
    border: solid 2px #333;
}

#wrapper .item {
    text-align: center;
    font-size: 33px;
    line-height: 80px;
    border: solid 10px #444;
    color: #333;
    background-color: #333;
    width: 80px;
    height: 80px;
    font-weight: bold;
    transition: 1.4s;
}

#wrapper .item:hover {
    cursor: pointer;
}

#wrapper .item.disabled {
    opacity: 0.2;
    color: #fff;
    background-color: #333;
    box-shadow: inset 0 0 54px 4px #111;
}

#wrapper .item.initial {
    opacity: 1;
    color: #000;
}

#wrapper .item.clicked {
    background-color: #eee;
}
